---
layout: frontpage
---
<script>
  $(document).ready(function() {
    $('.placeholder').height($(window).height());
    $(window).resize(function() {
      $('.placeholder').height($(window).height());
    })
  });
</script>
<div class="placeholder">
  <h1>This website is under construction.</h1>
  <p>Please check back later.</p>
</div>