body {
  display: table;
  font-family: sans-serif;
  width: 100%;
  margin: 0;
}

.placeholder {
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #222;
}